
@import "./partials/base";




@import "../node_modules/bootstrap/scss/bootstrap.scss";


.container-card{
    margin: 100px 0;
    display: flex;
    justify-content: space-evenly;
}

.oiseau-gros{
    height: 730px;
}

h1{
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

form{

    width: 50%;
    margin: 100px 0;
    height: 30rem;
}
