
@import "./partials/base";




@import "../node_modules/bootstrap/scss/bootstrap.scss";


.container-card{
    margin: 100px 0;
    display: flex;
    justify-content: space-evenly;
}

.oiseau-gros{
    height: 730px;
}
